{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disk Scheduling</title>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-body-bg">
    <div class="main p-4 sm:p-8">
        <h1 class="text-[#66FCF1] font-bold text-3xl sm:text-5xl text-center">Disk Scheduling Algorithm</h1>
        <form action="post">
            <div class="flex flex-col items-center">
                <div class="relative z-0 w-full max-w-xs m-5">
                    <div class="relative z-0 m-5">
                        <input
                            oninput="generateInputFields()"
                            id="jobCountInput"
                            type="number"
                            id="floating_standard"
                            class="block py-2.5 px-0 w-full text-white text-xl font-bold bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                        />
                        <label
                            for="floating_standard"
                            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >
                            Input number of jobs.
                        </label>
                    </div>
                </div>

                <div class="flex flex-col w-full mt-5">
                    <div class="m-5 rounded-lg text-white text-center font-bold text-lg overflow-y-auto border-2 border-[#45A29E]">
                        <h1 class="m-2">Arrival Time</h1>
                        <div class="m-5" id="inputFieldsContainer"></div>
                    </div>
                </div>

                <div class="w-full mt-5">
                    <div class="m-5 rounded-lg text-white font-bold text-lg border-2 border-[#45A29E]">
                        <h1 class="m-2 text-center">Requirements</h1>
                        <div class="p-3">
                            <div class="relative z-0 m-3">
                                <input
                                    type="text"
                                    id="floating_standard"
                                    class="block py-2.5 px-0 w-full text-white text-xl font-bold bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" "
                                />
                                <label
                                    for="floating_standard"
                                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >
                                    Previously Served
                                </label>
                            </div>

                            <div class="relative z-0 m-3">
                                <input
                                    type="text"
                                    id="floating_standard"
                                    class="block py-2.5 px-0 w-full text-white text-xl font-bold bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" "
                                />
                                <label
                                    for="floating_standard"
                                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >
                                    Starting Position
                                </label>
                            </div>

                            <div class="relative z-0 m-3">
                                <input
                                    type="text"
                                    id="floating_standard"
                                    class="block py-2.5 px-0 w-full text-white text-xl font-bold bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" "
                                />
                                <label
                                    for="floating_standard"
                                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >
                                    Starting Track
                                </label>
                            </div>

                            <div class="relative z-0 m-3">
                                <input
                                    type="text"
                                    id="floating_standard"
                                    class="block py-2.5 px-0 w-full text-white text-xl font-bold bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" "
                                />
                                <label
                                    for="floating_standard"
                                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >
                                    Ending Track
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-between w-full m-5 mr-5">
                    <div></div>
                    <button
                        data-modal-target="#choose-algo"
                        data-modal-toggle="defaultModal"
                        type="button"
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
                    >
                        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Choose Algorithm
                        </span>
                    </button>
                    {% include "diskscheduling/algomodal.html" %}
                </div>
            </form>
        </div>

        <script>
            function generateInputFields() {
                const jobCount = document.getElementById("jobCountInput").value;
                const container = document.getElementById("inputFieldsContainer");
                container.innerHTML = "";

                for (let i = 1; i <= jobCount; i++) {
                    const inputField = document.createElement("input");
                    inputField.type = "number";
                    inputField.className =
                        "block py-2.5 px-0 w-full text-lg text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 mb-3 peer";
                    inputField.placeholder = `Input job ${i}`;
                    container.appendChild(inputField);
                }
            }

            //------Modal for Choosing Algorithm-------
            //Algorithms modal
            // Get all the modal toggle buttons
            const modalToggleButtons = document.querySelectorAll("[data-modal-toggle]");
            // Loop through each button and add a click event listener
            modalToggleButtons.forEach((button) => {
                button.addEventListener("click", () => {
                    // Get the target modal using the data-modal-target attribute
                    const targetModal = document.querySelector(button.dataset.modalTarget);
                    // Toggle the hidden class of the target modal
                    targetModal.classList.toggle("hidden");
                    // Get the cancel button inside the target modal
                    const cancelButton = targetModal.querySelector("#cancel-btn");
                    // Add a click event listener to the cancel button to hide the modal
                    cancelButton.addEventListener("click", () => {
                        targetModal.classList.add("hidden");
                    });
                });
            });
        </script>
    </body>
</html>
