{% extends "diskscheduling/base.html" %} {% load static %} {% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-center text-white text-2xl font-bold mb-8">SSTF</h1>
    <div class="flex flex-col md:flex-row justify-around  w-full">
      <div class="w-full md:w-[800px] sm:w-full mb-8">
        <canvas id="fcfs"></canvas>
      </div>
      <div>
      </div>
      <div class="flex flex-col md:w-[30%]">
        <h2 class="text-white text-2xl font-semibold mb-5">Given:</h2>
        <div class="flex flex-col sm:flex-row justify-between mb-5">
          <div class="h-[400px] overflow-y-auto sm:overflow-x-auto mr-8">
            <table class="table border border-gray-300 text-center text-white sm:mr-5 mb-5 sm:mb-0">
              <thead>
                <tr>
                  <th class="py-3 px-4 border-b">Jobs</th>
                  <th class="py-3 px-4 border-b">Arrival Time</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in input_values.items %}
                {% if key|slice:":4" == 'job_' %}
                <tr>
                  <td class="py-3 px-4 border-b">{{ key }}</td>
                  <td class="py-3 px-4 border-b">{{ value }}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="text-white">
            {% if input_values %}
            <p class="mb-2 text-md">Previously Served: <span class="font-bold">{{ input_values.previously_served }}</span></p>
            <p class="mb-2 text-md">Starting position: <span class="font-bold">{{ input_values.starting_position }}</span></p>
            <p class="mb-2 text-md">Starting Track: <span class="font-bold">{{ input_values.starting_track }}</span></p>
            <p class="mb-2 text-md">Ending Track: <span class="font-bold">{{ input_values.ending_track }}</span></p>
            <p class="mb-2 text-md">Arm movement: <span class="font-bold">{{ input_values.arm_movement }}</span></p>
            {% endif %}
          </div>
        </div>
        <hr class="border-gray-300 my-5" />
        <h1 class="text-white text-lg mb-3 text-center">THM = <span class="font-bold">{{thm}}</span></h1>
        <h1 class="text-white text-lg text-center">ST = <span class="font-bold">{{st}} ms</span></h1>
      </div>
    </div>
</div>
  

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const xValues = JSON.parse("{{ x_values_json|escapejs }}");
        const yValues = JSON.parse("{{ y_values_json|escapejs }}");
        const startingTrack = parseInt("{{ starting_track }}");
        const endingTrack = parseInt("{{ ending_track }}");

        new Chart("fcfs", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [
                    {
                        fill: false,
                        label: "Track",
                        lineTension: 0,
                        backgroundColor: "black",
                        borderColor: "#66FCF1",
                        pointBackgroundColor: "black",
                        data: yValues,
                        pointRadius: 5, // Adjust the size of the data points
                        pointHoverRadius: 5, // Adjust the size of the data points on hover
                        pointStyle: "circle", // Set the point style to circle
                        datalabels: {
                            anchor: "end",
                            align: "top",
                            offset: 10,
                            backgroundColor: "#66FCF1",
                            borderRadius: 4,
                            color: "black",
                            font: {
                                weight: "bold",
                            },
                            formatter: function (value) {
                                return value; // Display the value of each point
                            },
                        },
                    },
                ],
            },
            options: {
                plugins: {
                    datalabels: {
                        display: true, // Enable datalabels plugin
                    },
                },
                legend: { display: false },
                scales: {
                    x: {
                        ticks: {
                            color: "white",
                        },
                        grid: {
                            color: "#A0A0A0",
                        },
                    },
                    y: {
                        ticks: {
                            color: "white",
                        },
                        grid: {
                            color: "#A0A0A0",
                        },
                        min: startingTrack,
                        max: endingTrack,
                    },
                },
            },
        });
    });
</script>
{% endblock %}
